ul {
  background-color: #fff;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
    0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.btn {
  color: #70778b;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: opacity 0.1s linear;
}

.btn__prev::after,
.btn__next::before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: #dee3ef;
  position: absolute;
  top: 0;
  z-index: 1;
}

.btn__prev::after {
  right: -15px;
}

.btn__next::before {
  left: -15px;
}

.active {
  color: #5876c5;
  border-bottom: 3px solid #5876c5;
}
