.card {
  background-color: #EFF0F5;
  box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08),
    0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.card__img {
  width: 65px;
  height: 65px;
}

.card__img img {
  margin-top: -25%;
}

.card__content {
  width: calc(100% - 85px);
}

.card__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  letter-spacing: -0.625px;
  color: #3a4562;
  transition: opacity 0.1s linear;
}

.card__text {
  letter-spacing: 0.23619px;
  color: #878d9d;
}

.card__icon {
  transition: opacity 0.1s linear;
}

/* Media */
@media (min-width: 640px) {
  .card__img {
    width: 85px;
    height: 85px;
  }

  .card__content {
    width: calc(100% - 110px);
  }
}

@media (min-width: 768px) {
  .card {
    background-color: #fff;
  }
}
