.job__content {
  color: #3A4562;
}

.main__title {
  letter-spacing: 0.413333px;
}

.header_controls {
  transition: opacity 0.1s linear;
}

.header_controls:hover {
  opacity: 0.6;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #3A4562;
  opacity: 0.13;
}

.job__btn {
  background-color: #3A4562;
  color: #fff;
  transition: background-color 0.1s linear;
}

.job__btn:hover {
  background-color: #5a678b;
}

.job__title {
  letter-spacing: -0.75px;
}

.job__salary, .job__text {
  letter-spacing: -0.5625px;
}

.job__posted {
  color: rgba(56, 65, 93, 0.355988);
}

.job__type {
  width: 31%;
  background: rgba(161, 177, 219, 0.317343);
  border: 1px solid rgba(85, 105, 158, 0.3);
}

.job__benefit {
  width: 31%;
  color: #988B49;
  background: rgba(255, 207, 0, 0.15);
  border: 1px solid #FFCF00;
}

.job__image {
  width: 31%;
  max-width: 200px;
}

.job__contacts {
  max-width: 400px;
  background-color: #2A3047;
  color: #E7EAF0;
  overflow: hidden;
}

.back__btn {
  color: #3A4562;
  background: rgba(161, 177, 219, 0.317343);
  transition: background 0.1s linear;
}

.back__btn:hover {
  background: rgba(80, 97, 141, 0.317);
}