@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/proxima-nova-2');


body {
  font-family: 'Proxima Nova', sans-serif;
  background-color: #E6E9F2;  
}

.max-container {
  max-width: 1440px;
}